{
    "plugins": [
        "./plugins/delete-console-log.js"
    ],
    "presets": [
        ["env", {
            
            "targets": {
            "browsers": ["ie 10"]
            },
            "useBuiltIns": true
        }]
      ] 
}